
.main{
   position: relative;
    padding: 0.5%;
    border:1px solid red;
    height: 1000px;
}

.navbar{
        background-color: aqua;
       width: 100%;
        position:inherit;
}
.navbar ul{
    width: 100%;
    background-color: aqua;
    float: right;
    text-align: end;
    /* padding: 10px; */
}
.navbar li{
    /* margin: 2px; */
    list-style: none;
    padding: 10px;
    display: inline-block;
}

.navbar li a{
    text-decoration: none;
}

.navbar ul li a:hover{
    text-transform: uppercase;
}